# Flutter/Dart-specific ignores

# Компилированный код и артефакты сборки
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pubspec.lock

# Генерируемые файлы
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.swift

# IntelliJ/VSCode проектные файлы (если используете эти IDE)
.idea/
.vscode/

# Дартовые кеши и временные файлы
.dart_tool/
.flutter_tool/

# iOS/Android артефакты
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/

# Файлы CocoaPods
ios/Podfile.lock
ios/Podfile
ios/Pods/
ios/.dart_tool/

# Android-specific files
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/.dart_tool/
android/app/*.keystore

# Mac-specific files
*.DS_Store

# Временные файлы ОС
*.log
*.tmp
*.swp
*.lock

# Файлы тестирования
coverage/

# Linux и Windows специфические файлы (если поддерживаются)
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Web специфические файлы
web/.dart_tool/

# Файлы Firebase (если используется)
firebase_app_id_file.json
